  
*
{

box-sizing: border-box;

}

body
{
  
  padding: 10px;

}

h1
{

font-family: 'Audiowide', cursive;
padding: 10px;
text-align: center;

}

 .seccion_main 
 {
     
    background-color: orange;
    border-radius: 5px;
    height: 175px;
    margin: auto;
    padding: 10px;
    width: 500px;
    


 }


.seccion_main p 
{
    
    padding-top: 25px;
    text-align: center;


}


.seccion_main button
{
     
     background-color: black;
     border: 1px solid black;
     border-radius: 20px;
     color: white;
     font-family: 'Audiowide', cursive;
     height: 35px;

}


